*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    font-family: oswald;
}
@font-face {
    font-family: oswald;
    src: url(Oswald-VariableFont_wght.ttf);
    /*zasto ne radi link na font*/
}

body{
    height: 100%;
    background-color: rgba(238,238,238,255);
}

header{
    background-color: rgba(57,62,70,255);
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.header-bar{
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.category-text{
    display: flex;
    color: rgba(0,173,181,255);
    font-family: oswald;
    padding: 20px 40px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-basis: 50%;
}

.icon-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon-section>a{
    display: flex;
    flex-direction: row;

}
 
#cart-count.hide{
    display: none;
}

#cart-count{
    position: absolute;
    color: rgba(0,173,181,255);
    font-size: 2rem;
    background-color: rgba(238,238,238,255);
    padding: 3px 19px;
    border-radius: 50%;
}

.header-bar>div{
    height: 100%;
    flex-grow: 1;
    border: 0.3rem solid black;
}
.logo>img{
    max-width: 200px;
    max-height: 200px;
}


main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.left-menu-bar{
    flex-basis: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: 1.2rem;
}

.left-menu-bar>div{
    /*border za left*/
}

.about-section{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.about-section>div{
    padding: 10px;
    flex-grow: 1;
}
.subcategory>li{
    padding: 3px;
}
.group-category>li{
    padding: 10px;
}

.presenting-section{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
}

.presenting-container{
    display: flex;
    
}

.presenting-image{
    max-width: 50%;
    
}


.splash{
    z-index: 10;
    color: black;
    font-family: oswald;
    position: absolute;
    align-items: center;
    align-self: center;
    font-size: 250%;
    margin-top: 10%;
    border: 0.3rem solid rgba(0,173,181,255);
    background-color: rgba(238,238,238,255);
    padding: 20px 40px;
    font-weight: 600;
}

.filler{
    height: 10px;
}

.product-container{
    margin-left: 20%;
    flex-basis: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.down{
    top: 200px;
}

.product-container>div {
    flex-basis: 280px;
    min-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 0.1rem solid rgb(111, 111, 111);
}

.product.hide{
    display: none;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product>img{
    padding: 10px;
    min-width: 200px;
    max-width: 230px;
}

.product-count.hide{
    display: none;
}

.product-count{
    position: absolute;
    bottom: 3%;
    right: 2%;
    color: rgba(238,238,238,255);
    font-size: 2rem;
    background-color: rgba(0,173,181,255);
    border: 0.4rem solid rgba(57,62,70,255);
    padding: 3px 19px;
    border-radius: 50%;
}

ul{
    margin-left: 20px;
    list-style: none;
    
}

.subcategory>li{
    margin-left: 15px;
}

li>a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.about-container>img{
    max-width: 40px;
    padding-right: 10px;
}
.about-container>a{
    padding: 5px 10px;
    color: rgba(238,238,238,255);
    background-color: rgba(0,173,181,255);
}

.add-to-cart-button{
    position: absolute;
    width: 280px;
    height: 300px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.hidden-icon{
    display: none;
}

.add-to-cart-button:hover>.hidden-icon{
    display: inline;
    max-width: 200px;
    background-color: rgba(0,173,181,255);
    border-radius: 10%;
}

@media screen and (max-width:1023px){
    header{
        background-color: rgba(57,62,70,255);
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    
    .header-bar{
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        background-color: rgba(238,238,238,255);
    }
    .category-text{
        display: flex;
        color: rgba(0,173,181,255);
        font-family: oswald;
        padding: 20px 40px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        font-size: 240%;
        flex-basis: 50%;
    }
    
    .header-bar>div{
        height: 100px;
        flex-grow: 1;
        border: 0.3rem solid black;
    }
    .logo>img{
        max-width: 200px;
        max-height: 200px;
    }
    

    main{
        all: unset;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    
   .presenting-section{
    flex-basis: 100%;
    flex-shrink: 0;
   }
    
    .product-container{
        order: 1;
        margin: 0;
        flex-shrink: 1;
        flex-basis: 70%;
        justify-content: space-evenly;
    }

    .left-menu-bar{
        order: 1;
        flex-shrink: 1;
        flex-basis: 30%;
        margin: 0;
    }
    
    .splash{
        font-size: 150%;
        margin-top: 10%;
    }

    .product-container>div {
        flex-basis: 220px;
        min-height: 300px;
    }
    
    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product>img{
        padding: 10px;
        min-width: 120px;
        max-width: 180px;
    }

    .product-count{
        
        font-size: 1.2rem;
        background-color: rgba(0,173,181,255);
        border: 0.4rem solid rgba(57,62,70,255);
        padding: 3px 13px;
        border-radius: 50%;
    }
    
    .search-icon-class{
        max-width: 80%;
    }
    .cart-icon{
        max-width: 80%;
    }

    .add-to-cart-button{
        position: absolute;
        width: 220px;
        
    }

    #cart-count{
        color: rgba(0,173,181,255);
        background-color: rgba(57,62,70,255);
        padding: 1px 8px;
        font-size: 1rem;
        border: 0.2rem solid rgba(0,173,181,255);
    }

    
}

@media only screen and (max-width: 600px) {
    .category-text{
        font-size: 150%;
    }

    .left-menu-bar{
        display: none;
    }
    .product-container{
        flex-basis: 100%;
    }

    .product-container>div {
        flex-basis: 160px;
        min-height: 250px;
    }
    .product>img{
        padding: 10px;
        min-width: 100px;
        max-width: 150px;
    }

    .add-to-cart-button{
        position: absolute;
        width: 160px;
        height: 250px;
        
    }
    .product>h3{
        font-size: 0.9em;
        text-align: center;
        font-weight: 400;
    }
}